{% extends 'base.html.twig' %}
{% block title %}Location index{% endblock %}

{% block body %}
    <h1>Location index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>City</th>
                <th>Country</th>
                <th>Latitude</th>
                <th>Longtitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.country }}</td>
                <td>{{ location.latitude }}</td>
                <td>{{ location.longtitude }}</td>
                <td>
                    {% if is_granted("ROLE_LOCATIONS_SHOW") %}
                        <a href="{{ path('app_location_show', {'id': location.id}) }}" class="btn btn-primary">show</a>
                    {% endif %}
                    {% if is_granted("ROLE_LOCATIONS_EDIT") %}
                        <a href="{{ path('app_location_edit', {'id': location.id}) }}" class="btn btn-primary">edit</a>
                    {% endif %}
                    {% if is_granted("ROLE_WEATHER_SHOW") %}
                        <a href="{{ path('weather_in_city', {'country': location.country, 'city': location.city}) }}" class="btn btn-primary">Show weather</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <h2>Menu</h2>
        <a href="{{ path('app_measurement_index') }}" class="btn btn-primary">Go to measurements</a>
        {% if is_granted("ROLE_LOCATIONS_CREATE") %}
            <a href="{{ path('app_location_new') }}" class="btn btn-primary">Create new</a>
        {% endif %}
        <a href="{{ path('app_logout') }}" class="btn btn-primary">Logout</a>
    </div>
{% endblock %}
